<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <span>Actions</span>
      <a mat-list-item routerLink="home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="forum" routerLinkActive="active">
        <mat-icon>forum</mat-icon>
        <span>Forum</span>
      </a>
      <span class="spacer"></span>
      <!-- <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>category</mat-icon>
              <span>Product</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item class="expantion" routerLink="list-product">Product List</a>
          <a mat-list-item class="expantion" routerLink="create">Create Product</a>
        </mat-expansion-panel>
      </mat-accordion> 
      <a mat-list-item class="active" routerLink="dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item class="active" routerLink="tree">
        <mat-icon>account_tree</mat-icon>
        <span>Tree</span>
      </a>
      <a mat-list-item class="active" routerLink="drag-drop">
        <mat-icon>drag_indicator</mat-icon>
        <span>Drag Drop</span>
      </a>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="admin-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu_open</mat-icon>
      </button>
      <span>Rock Soft</span>
      <span class="spacer"></span>
      <mat-card class="card-img">
        <div class="img-profile" [matMenuTriggerFor]="menu">
          <img mat-card-avatar 
          *ngIf="user" role="button"
            [src]="user.photoURL || 'https://lh3.googleusercontent.com/proxy/DcNBMT9MSl47aYAZhkQ02qb1-eKqrG2Ssq-keXTCeeOumijOxpcbrOMRTPtQ0uryi60kNBJFKblQSR6s1z3OxuoAcSv5gqe1E9GjNP2aX-YrUdisb3y9ZLm60-L8uGwEFgJVEBlRKv72o8o5Jv9S_V6hd_x6U4bXZJoVSRq83aZat-H5wWQtAw'" alt="image_profile">
          <mat-icon>expand_more</mat-icon>
        </div>
      </mat-card>
      <mat-menu #menu="matMenu">
        <a mat-menu-item (click)="logout()">
          <mat-icon aria-hidden="false" aria-label="{2:label} icon">logout</mat-icon>
          <span>Logout</span>
        </a>
        <a mat-menu-item (click)="openSnackBar('In Construction')">
          <mat-icon aria-hidden="false" aria-label="{2:label} icon">person</mat-icon>
          <span>Config</span>
        </a>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
