.spacer {
  flex: 1 auto;
}
.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 250px;
  background-color: #121f3d;
}

.sidenav .mat-toolbar {
  background: inherit;
  color: #F1FAEE;
  // border-bottom: 1px solid #F1FAEE;
  
}
.mat-nav-list a {
  color: #F1FAEE;
  // border-bottom: 1px solid rgba(241, 250, 238,0.3);
}
.mat-nav-list.active:active {
  color: red;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.admin-toolbar {
  background-color: rgba(151, 202, 63,0.7);
  color: #121f3d;
  padding: 0px 24px;
}
.mat-sidenav-content {
  background-color: #EDF2F4;
}
.mat-nav-list a:hover {
  background-color: rgba(151, 202, 63,0.5);
  color: #F1FAEE;
  transition: 0.3s;
}
.mat-nav-list a.active{
  background-color: rgba(151, 202, 63,1);
  color: #F1FAEE;
}
.mat-nav-list .expantion:hover {
  background-color: rgba(151, 202, 63,0.5);
  // color: #F1FAEE;
  transition: 0.3s;
}
.mat-expansion-panel {
  background-color: inherit;
  color: #F1FAEE;
  border-radius: inherit;
  box-shadow: inset;
  // border-bottom: 1px solid rgba(241, 250, 238,0.3);
  .mat-expansion-panel-header {
    border-radius: inherit;
    padding: 0 16px;
  }
  .mat-icon, span {
    color: #F1FAEE;
  }
}
.mat-expansion-panel:hover {
  background-color: rgba(151, 202, 63,0.5);
  color: #F1FAEE;
  transition: 0.3s;
}
::ng-deep.mat-expansion-panel-body {
  padding-right: 0px !important; 
}
.sidenav mat-icon {
  margin-right: 10px;
}
.router-container {
  width: 100%;
  padding: 16px 16px;
}
::ng-deep .mat-expansion-indicator::after {
  color: #F1FAEE;
}
.card-img {
  margin: 0px;
  padding: 0px;
  background-color: inherit;
  box-shadow: inherit;
  border: inherit;
}
.img-profile {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-name {
  font-size: 0.675rem;
  margin-right: 10px;
}
.img-profile:hover {
  background-color: rgba(255, 255, 255,0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}