.sign-in__content {
  .sign-in__form {
    // width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: centers;
    mat-toolbar {
      background-color: #121f3d;
      color: white;
      span {
        text-transform: capitalize;
      }
      .spacer {
        flex: 1 auto;
      }
    }
    .login-form {
      display: flex;
      flex-direction: column;
      .btn-content {
        width: 100%;
        background-color: #97ca3f;
        color: #121f3d;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
    .sign-in__options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .subtitle-option {
        display: flex;
        width: 100%;
        div {
          width: 49%;
          border-bottom: 1px solid rgba(0,0,0,0.2);
        }
        span {
          opacity: 0.8;
        }
      }
      .container-option {
        mat-icon {
          font-size: 3rem;
        }
        mat-label {
          font-size: 1.5rem;
        }
        button {
          margin: 0px 10px;
          .google-btn {
            color: rgb(250, 76, 76);
          }
        }
      }
    }
  }
}
