<div class="columns sign-in__content">
  <figure class="column">
    <img src="assets/images/login/login.svg" alt="image login">
  </figure>
  <div class="column sign-in__form">
    <mat-toolbar class="mat-elevation-z6">
      <span>startet wiht us</span>
      <span class="spacer"></span>
      <button mat-icon-button matDialogClose>
        <mat-icon aria-label="label">close</mat-icon>
      </button>
    </mat-toolbar>
    <br>
    <form class="login-form" [formGroup]="authForm" (ngSubmit)="signIn()">
      <h1>We will rock for ever</h1>
      <span>Make your best choice and express your feeling</span>
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput type="email" placeholder="example@example.com" formControlName="email" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput type="password" placeholder="Type your password" formControlName="password" required>
      </mat-form-field>
      <button class="btn-content" type="submit" mat-raised-button [disabled]="authForm.invalid">
        <span>Sign in</span>
        <mat-spinner diameter='30' *ngIf="status"></mat-spinner>
      </button>
    </form>
    <br>
    <section class="sign-in__options">
      <div class="subtitle-option">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <br>
      <div class="container-option">
        <button mat-icon-button (click)="loginWithFacebook()">
          <mat-icon color="primary" aria-label="label">facebook</mat-icon>
        </button>
        <button mat-button (click)="loginWithGoogle()">
          <mat-label class="google-btn">Google</mat-label>
        </button>
      </div>
    </section>
  </div>
</div>
