.header-toolbar {
  background-color: #121f3d;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}
nav > a {
    margin: 0px 20px;
}
nav  > a:hover {

    border-bottom: 1px solid #97ca3f;
    color: #97ca3f;
    transition: 0.3s;
}
nav > a.active {
    border-bottom: 1px solid #97ca3f;
    color: #97ca3f;
    transition: 0.3;
}