  <mat-toolbar class="header-toolbar">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>Rock Soft</span>
    <span class="example-spacer"></span>
    <nav>
      <a mat-button routerLink="home" routerLinkActive="active">Home</a>
      <a mat-button routerLink="about-us" routerLinkActive="active">About us</a>
      <!-- <a mat-button routerLink="store">Store</a>
      <a mat-button routerLink="about-us">About us</a>
      <a mat-button routerLink="courses">Course</a>
      <a mat-button routerLink="blog">Blog</a>
      <a mat-button routerLink="contact">Contact</a> -->
    </nav>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->

    <button mat-raised-button  (click)="openDialog()">
      Sign In/Up
    </button>
  </mat-toolbar>