<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{product.title | uppercase}}</mat-card-title>
    <mat-card-subtitle>{{product.price | currency:'Bs ' }}</mat-card-subtitle>
  </mat-card-header>
  <figure class="crop-image">
    <img mat-card-image [src]="product.image" alt="Photo of a Shiba Inu">
  </figure>
  <mat-card-content>
    <p>
      {{product.description | slice:0:10}}
    </p>
  </mat-card-content>
  <mat-card-actions class="action">
    <button mat-raised-button color="primary" (click)="addToCard()">Add to card</button>
    <button mat-raised-button color="primary" [routerLink]="['/store/', product.id]">Detail</button>
  </mat-card-actions>
</mat-card>