:host {
    display: block;
}

.example-card {
    max-width: 400px;
    box-shadow: 4px 30px 60px rgba(0, 0, 0,0.25);
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .crop-image{
      height: 300px;
      width: 100%;
      overflow: hidden;
      position: relative;
      img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          max-width: 100%;
      }
  }
