<div class="container-diagnostic">
  <mat-toolbar class="data-toolbar">
    <span>Data Analitycs</span>
  </mat-toolbar>
  <div class="charts-container">
    <h2>Cantidad de Usuarios Activos</h2>
    <ngx-charts-number-card 
      [view]="view" [scheme]="colorScheme"
      [results]="single"
      [cardColor]="cardColor"
      (select)="onSelect($event)">

    </ngx-charts-number-card>
    <h2>Cantidad De Mensajes por Persona</h2>
    <ngx-charts-bar-vertical-2d
      [view]="viewBar"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [legendTitle]="legendTitle"
      (select)="onSelectBar($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)">
      
    </ngx-charts-bar-vertical-2d>
  </div>
</div>
