<div class="container">
    <h2>Product Detail</h2>
    <div class="row">
        <figure class="col-sm">
                <img [src]="product.image" alt="">
        </figure>
        <section class="col-sm">
                <h3>Name: {{product.title}}</h3>
                <h4>Price: {{product.price |currency:'Bs '}}</h4>
                <h5>Description: {{product.description}}</h5>
        </section>
    </div>
</div>
