<swiper
    [slidesPerView]="1"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
    [autoplay]="true"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    [scrollbar]="{ draggable: true }"
>
<ng-template swiperSlide *ngFor="let image of images">
    <img [src]="image" alt="">
</ng-template>
</swiper>