<!-- <app-header></app-header> -->
<main class="container">
    <h1>Product List </h1>
    <h2>Choice your favorite</h2>
    <mat-form-field class="example-full-width">
      <mat-label>Mount</mat-label>
      <input type="number" matInput  [(ngModel)]="number">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>Change Type</mat-label>
      <input type="number" matInput [(ngModel)]="changeType">
    </mat-form-field>
    <span class="form-text">
      {{number | exponential:changeType |currency}}
    </span>
    <div class="products">
      <app-product *ngFor="let product of products" (productClicked)="reciveToCardAdd($event)" [product]="product"></app-product>
    </div>
  </main>