<form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
    <mat-form-field>
        <mat-label>Message</mat-label> 
        <textarea matInput formControlName="message" placeholder="Type your message here..."></textarea>
    </mat-form-field>
    <div class="action">
        <button type="submit" mat-icon-button [disabled]="!messageForm.valid">
            <mat-icon class="send-message__btn">send</mat-icon>   
        </button>
    </div>
</form>
