mat-form-field {
    width: 100%;
}
.action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .send-message__btn {
        color: #97ca3f;
    }
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #97ca3f;
}
::ng-deep .mat-form-field.mat-form-field-invalid  .mat-form-field-ripple {
    background-color: #97ca3f;
}