:host {
    
    height: 100%;
    
    display: block;
    
    position: relative;
    
    }
footer {
  padding: 50px 0px;
  margin-top: 20px;
  position: absolute;
 width: 100%;
bottom: 0;
  background-color: #121f3d;
  .box {
    background-color: #121f3d;
    h3 {
      color: white;
    }
    .full-width {
      border: 1px solid #ffffff;
      border-radius: 3px;
      background-color: #ffffff;
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        margin: 10px 0px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}