<footer>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box">
            <h3>Productos</h3>
            <ul>
              <li>
                <a routerLink="/products" [queryParams]="{ type: 'news' }"
                  >Nuevos Productos</a
                >
              </li>
              <li>
                <a routerLink="/products" [queryParams]="{ type: 'offer' }"
                  >En oferta</a
                >
              </li>
              <li>
                <a routerLink="/products" [queryParams]="{ type: 'latest' }"
                  >Últimos productos</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h3>Acerca de PlatziStore</h3>
            <ul>
              <li><a routerLink="/about-us">Sobre nosotros</a></li>
              <li><a routerLink="/stores">Nuestras tiendas</a></li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h3>Contacto</h3>
            <form [formGroup]="suscribeForm" (ngSubmit)="registerMail()">
              <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Su correo" type="email">
              </mat-form-field>
                  <button type="submit" [disabled]="suscribeForm.invalid" mat-raised-button color="primary">Suscribirse</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>
  