<div class="container" *ngIf="themeId" appScrollBottom [scrollNow$s]="scrollNow" [stayAtBottom]="true" cdkScrollable>
  <div *ngIf="messages$ | async; let messages">
    <mat-card class="card-content" *ngFor="let message of messages">
      <div class="message">
        <img mat-card-avatar [src]="message.photoURL" alt="image-profile">
        <mat-card-header>
          <mat-card-subtitle>{{message.displayName}}</mat-card-subtitle>
          <mat-card-title>{{message.message}}</mat-card-title>
        </mat-card-header>
      </div>
      <!-- <mat-card-actions>
        <button mat-icon-button>
          <mat-icon class="favorite-icon" [matBadge]="message.hearthReaction" matBadgeColor="primary">favorite
          </mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="like-icon" [matBadge]="message.likeReaction" matBadgeColor="primary">thumb_up_alt</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="like-icon" [matBadge]="message.unLikeReaction" matBadgeColor="primary">thumb_down_alt
          </mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="emoji-icon" [matBadge]="message.funnyReaction" matBadgeColor="primary">emoji_emotions
          </mat-icon>
        </button>
      </mat-card-actions> -->
    </mat-card>
  </div>
</div>
