:host {
  // width: 100%;
  // background-color: red;
  overflow: auto;
  height: 50vh;
  // flex-grow: 1;
  // justify-content: flex-end;
}

.container {
  overflow: auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;

}

.card-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: inherit;
  box-shadow: inherit;
  border: inherit;

  .message {
    display: flex;
    align-items: center;
    margin: 0px !important;
    box-shadow: 4px 30px 60px rgba($color: #000000, $alpha: 0.20);
  }

  img {
    margin-right: 10px;
  }

  mat-card-header {
    border-left: 5px solid #97ca3f;
  }

  .favorite-icon {
    color: #ef233c;
  }

  .like-icon {
    color: #4361ee;
  }

  .emoji-icon {
    color: #fcbf49;
  }

}
