<div *ngIf="theme">
    <mat-toolbar class="theme-toolbar" class="mat-elevation-z6">
        <figure class="theme-iamge">
            <img [src]="theme.imageUrl" alt="image-theme">
        </figure>
        <span>{{theme.name}}</span>
    </mat-toolbar>
    <br>
    <div class="messages-content">
        <!-- <h1>Messages</h1> -->
        <app-message-list [themeId]="themeId"></app-message-list>
        <app-message [themeId]="themeId"></app-message>
      </div>
</div>
