.theme-iamge {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 0px 20px;
    }
}