.spacer {
    flex: 1 auto;
}
table {
    width: 100%;
    td, th {
        vertical-align: inherit;
    }
}
.name-info {
    display: flex;
    .name-content {
        display: flex;
        flex-direction: column;
    }
    .img-container {
        height: 40px;
        width: 40px;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        margin-right: 16px;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 100%;
    }
    }
}