<mat-toolbar>
    <button mat-icon-button (click)="goToHome()">
        <mat-icon>arrow_back</mat-icon>   
    </button>
    <span>{{theme.name}}</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="addNewUser()">
        <mat-icon>add</mat-icon>   
    </button>
</mat-toolbar>
<br>
<br>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- img Column -->
    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
          <div class="img-container">
              <img src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
          </div> 
        </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> 
          <div class="name-info">
        <div class="img-container">
                  <img src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
              </div>
              <div class="name-content">
                  <span>{{element.lastName}} {{element.name}} </span>
                  <span>{{element.email}}@gmail.com</span>
              </div>
          </div>
         </td>
    </ng-container>
  
    <!-- email Column -->
    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef> Region </th>
      <td mat-cell *matCellDef="let element">
          <span>{{element.region}}</span>
      </td>
    </ng-container>
  
    <!-- date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element">
            <span>{{element.date | date}}</span>
        </td>
    </ng-container>

    <!-- sex Column -->
    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef> Sex </th>
      <td mat-cell *matCellDef="let element"> 
          <span>{{element.sex}}</span>
      </td>
    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index">
           <button mat-icon-button  [matMenuTriggerFor]="more">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #more="matMenu">
            <button mat-menu-item (click)="deleteUser(i)">Delete</button>
            <button mat-menu-item (click)="editUser(element.id)">Edit</button>
          </mat-menu>
  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>