<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span>Theme</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="addTheme()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list *ngIf="themes">
      <div  class="theme-content" *ngFor="let theme of themes | async">
        <a 
          mat-list-item 
          [routerLink]="['/admin/forum/home/', theme.id]"
          routerLinkActive="active"
          (click)="this.welcomeMessage = false"
          >
          {{theme.name}}
        </a>
        <button mat-icon-button  [matMenuTriggerFor]="more">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu">
          <button mat-menu-item (click)="deleteTheme(theme.id)">Delete</button>
          <button mat-menu-item (click)="editTheme(theme.id)">Edit</button>
        </mat-menu>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="side-nav__content">
      <mat-toolbar *ngIf="isHandset$ | async">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">list</mat-icon>
        </button>
      </mat-toolbar>
      <!-- Add Content Here -->
      <section *ngIf="welcomeMessage" class="colums welcome-content">
        <figure class="column">
          <img src="assets/images/login/welcome.svg" alt="welcome-img">
          <h2>Thank you for choosing us </h2>
          <h3>Choice or add prefered theme</h3>
          <button *ngIf="isHandset$ | async" mat-raised-button (click)="drawer.toggle()">
            Express your feelings
          </button>
        </figure>
      </section>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
