.sidenav-container {
  min-height: 80vh;
}

.sidenav {
  width: 200px;
  min-height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer {
  flex: 1 auto;
}
.theme-content {
  display: flex;
  a:hover {
    transition: 0.3s;
  }
  a.active {
    background-color: rgb(0, 0, 0, 0.05);
    border-left: 5px solid #97ca3f;
  }  
}

.side-nav__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  // background-color: blue;
}
.messages-content {
  width: 100%;
  padding: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // height: 100%;
  // background-color: red;
  justify-content: space-between;
}
.welcome-content {
  figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
    button {
      background-color: #97ca3f;
      color: #121f3d;
    }
  }
}