/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle';
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";
html {
    margin: 0px;
    padding: 0px;
    
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); // nos hará breakpoints cada 300px
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
