.toolbar-edit {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px;
}
.form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bnt {
  background-color: #97ca3f;
  color: #ffffff;
}
.spacer {
    flex: 1 auto;
}
.action {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
  :host {
    width: 100%;
  }
}