<mat-toolbar class="toolbar-edit">
  <span>Edit Theme</span>
  <span class="spacer"></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<br>
<br>
  <p>Configure your theme to your preference</p>
  <form class="form-content" [formGroup]="themeForm" (ngSubmit)="editTheme()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <div mat-dialog-actions class="action">
      <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
      <button mat-raised-button class="bnt">Save Changes</button>
    </div>
  </form>
