<div class="columns register-content__father ">
    <figure class="column is-6 img-content">
        
        <!-- <img src="https://images.unsplash.com/photo-1592051148515-c5c06b3f919a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80" alt=""> -->
    </figure>
    <form class="column is-6 form-content ">
        <h1>We will rock for ever</h1>
        <span>Make your best choice and register now</span>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Pleas type your name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Pleas type your name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="Pleas type your name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Pleas type your name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Pleas type your name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button class="register-btn">
              Register now
          </button>
    </form>
</div>