.label-form {
    color: red;
    background-color: green;
}
.register-content__father {
    height: 100%;
    .img-content {
        // background-color: yellow;
        // width: 50%;
        // position: relative;
        // overflow: hidden;
        background-image: url(https://images.unsplash.com/photo-1592051148515-c5c06b3f919a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
        }
    }
    .form-content {
        // width: 50%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        .register-btn {
            width: 100%;
            background-color: rgba(151, 202, 63,0.7);
            color: #ffffff;
        }
    }
}
